<hr class="my-4">
<h2> Event: </h2>

<div *ngIf="!events">
  <p class="error"> {{ error }} </p>
</div>

<div class="" *ngIf="events">
  <div class="row justify-content-start">

    <div class=" col-8">
      <hr class="my-4">
      <div class="card text-white bg-primary ">

        <div class="card-header"></div>
        <div class="card-body">
          <h1 class="card-title">{{events.name}}</h1>
          <p class="card-text"><strong>{{events.categories}}</strong></p>
          <p class="card-text">{{events.descriptions}}</p>
          <div class="card-text">  <strong>Participants:</strong> <h3>{{events.participants.length}}</h3> </div>

        </div>

      </div>
      <hr class="my-4">
    </div>
  </div>
  <button type="button" class="btn btn-outline-primary" name="button" (click)="followEventBtn(events._id)">Follow the event</button>

<!-- <a href="#" [routerLink]="['/events/'+conf._id+'/edit']">Edit your profile</a> -->

</div>
<br>
<br>

<app-questions-chat *ngIf="events" [events]="events"></app-questions-chat>
