<h2> Event profile: </h2>
<div *ngIf="!events">
  <p class="error"> {{ error }} </p>
</div>

<div class="" *ngIf="events">
  <p>
  <strong>Name:</strong> {{events.name}}
  </p>
  <p>
  <strong>descriptions:</strong> {{events.descriptions}}
  </p>
  <p>
  <strong>tags:</strong> {{events.tags}}
  </p>
  <p>
  <strong>Number of participants:</strong> {{events.participants.length}}
  </p>
  <hr>
  <button type="button" name="button">Follow the event</button>
<!-- <a href="#" [routerLink]="['/events/'+conf._id+'/edit']">Edit your profile</a> -->

</div>
<br>
<br>
<a href="#" routerLink="/conferences">see conferences</a>

<app-questions-chat *ngIf="events" [events]="events"></app-questions-chat>
