<h2> Conference profile: </h2>
<div *ngIf="!conferences">
  <p class="error"> {{ error }} </p>
</div>

<div class="" *ngIf="conferences">
  <p>
  <strong>Name:</strong> {{conferences.name}}
  </p>
  <p>
  <strong>descriptions:</strong> {{conferences.descriptions}}
  </p>
  <p>
  <strong>Asistentes:</strong> {{conferences.total_users}}
  </p>
  <p>
  <strong>Categories:</strong> {{conferences.categories}}
  </p>
  <hr>

<!-- <a href="#" [routerLink]="['/conferences/'+conf._id+'/edit']">Edit your profile</a> -->

</div>
<br>
<br>
<a href="#" routerLink="/conferences">see conferences</a>
