<div *ngIf="auth.user">

<div *ngIf="!user">
  <p class="error"> {{ error }} </p>
</div>

<div *ngIf="user">
      <hr class="my-4">
  <h2> Hi, {{user.username}} </h2>
    <hr class="my-4">
    <h3>Your info</h3>
    <p>{{user.email}}</p>
    <p>{{user.name}}</p>
    <p>{{user.pic_path}}</p>
    <p>{{user.pic_name}}</p>
    <hr class="my-4">
  <a href="#" class="btn btn-outline-primary" routerLink="/user/{{user._id}}/edit">Edit your profile</a>
      <hr class="my-4">
  <a href="#" class="btn btn-outline-primary" routerLink="/conferences/signup">create your conference</a>
    <hr class="my-4">

<a href="#" class="btn btn-outline-primary" routerLink="/conferences">see conferences</a>
    <hr class="my-4">
<a href="#" class="btn btn-outline-primary" routerLink="/events">see events</a>
    <hr class="my-4">
</div>
</div>
