<h2> Profile: </h2>
<div *ngIf="!user">
  <p class="error"> {{ error }} </p>
</div>

<div *ngIf="user">
  <h3>{{user.username}}</h3>
    <p>{{user.email}}</p>
    <p>{{user.name}}</p>
    <p>{{user.pic_path}}</p>
    <p>{{user.pic_name}}</p>

  <a href="#" routerLink="/user/{{user._id}}/edit">Edit your profile</a>
<br>

<a href="#" routerLink="/conferences">see conferences</a>
<br>
<a href="#" routerLink="/events">see events</a>
<br>
<br>
  <a href="#" routerLink="/conferences/signup">create your conference</a>
<br>
  <a href="#" (click)="logout()">Logout {{auth.user.username}}</a>

</div>
